ul.tab-menu {
    list-style-type: none;
    margin: 0;
    padding: 8px;
    background-color: rgb(94, 94, 94);
    color: white;
  }

  
ul.tab-menu li {
    display: inline;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  ul.tab-menu li:hover {
    background-color: #555;
  }

  table {
    border-collapse: separate;
    border-spacing: 0 0;
    margin-top: 30px
}

.active {
  background-color: rgb(240, 240, 240);
  color: rgb(44, 44, 44);
}

.hidden {
  display: none;
}

.tab-area {
  background-color: rgb(240, 240, 240);
  margin-top: 10px;
  border: 1px solid grey;
  overflow: hidden;
}

div.page td {
    border: 1px solid rgb(218, 218, 218);
    max-width: 160px;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

td {
  padding: 10px;
}


@media only screen and (max-width: 1400px) {
  .sidebar {
    position: relative;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
  }
  
}

@media only screen and (min-width: 1400px) {
  .sidebar {
    position: fixed;
    top: 200px;
    left: 10px;
  }
  
} 
.sidebar {
  padding: 2px;
  border-radius: 2px;
  background-color: rgb(218, 216, 216);
}

.sidebar button{
  padding: 10px 15px;
}


.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.statistics td{
  padding: 0px 10px;
  border: 1px solid rgb(187, 187, 187);
  border-style: none solid none solid;
  border-collapse: collapse;
}

.statistics td div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistics h2 {
  margin-bottom: 0;
}

.statistics p {
  margin-top: 0
}

.button {
  background-color: #c906b8; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

.button:hover {
  background-color: #c007b1;
}

.legend {
  margin-left: 10px;
}