body{
    padding: 0;
    margin: 0;
    font-family: roboto;
}

.main-photo {
    width: 100%;
    background-image: url("../Assets/img/banquet_hall.jpg");
    background-position: 10%;
    background-color: rgba(66, 4, 53, 0.6); 
    background-blend-mode: multiply;
    background-size: cover;
    height: 600px;
    max-height: 600px;
}

.main-title {
    position: absolute;
    top: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}

.gap {
    background-color: rgb(108, 20, 167);
    height: 150px
}

.main {
    display: flex;
    justify-content: center;
}

form {
    max-width: 400px;
}
