body{
    padding: 0;
    margin: 0;
    font-family: roboto;
}

h1 {
    font-size: 3rem;
}

.main-photo {
    width: 100%;
    background-image: url("../Assets/img/banquet_hall.jpg");
    background-position: 10%;
    background-color: rgba(66, 4, 53, 0.6); 
    background-blend-mode: multiply;
    background-size: cover;
    height: 600px;
    max-height: 600px;
}

.main-title {
    position: absolute;
    top: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}

.gap {
    height: 150px;
    background-color: rgb(108, 20, 167);
}

.info {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.info > .text {
    max-width: 600px;
    border: 1px solid black;
    box-shadow: black;
    box-shadow: 5px 5px 4px 5px #888888;
    padding: 5px;
    font-size: 1rem;
}

.main {
    display: flex;
    justify-content: center;
}

form {
    max-width: 400px;
}


.form-grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}

input[type="number"] {
    width: 50px;
}


